.header, .body, .footer {
	margin-left: auto;
	margin-right: auto;
	width: 780px;
	padding: 10px;
}

.header {
	width: 800px;
	padding: 5px 0 0 0;
	background: skyblue;
}

.body {
	background: #B8D1CA;
}

.footer {
	background: #D9B7A4;
	text-align: center;
	font-size: 50%;
}

.header h1 {
	text-align: center;
}

.buttonset {
	text-align: center;
}

.buttonset a, .buttonset button, input.button {
	display: inline-block;
	margin: 0 7px 0 0;
	background-color: #f5f5f5;
	border: 1px solid #dedede;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 100%;
	line-height: 130%;
	text-decoration: none;
	font-weight: bold;
	color: #565656;
	cursor: pointer;
	padding: 5px 10px 6px 7px; /* Links */
}

button:hover, .buttonset a:hover {
	background-color: #DFF4FF;
	border: 1px solid #C2E1EF;
	color: #336699;
}

.buttonset a:active {
	background-color: #6299C5;
	border: 1px solid #6299C5;
	color: #FFFFFF;
}

button.positive, .buttonset a.positive {
	color: #529214;
}

.buttonset a.positive:hover, button.positive:hover {
	background-color: #E6EFC2;
	border: 1px solid #C6D880;
	color: #529214;
}

.buttonset a.positive:active {
	background-color: #529214;
	border: 1px solid #529214;
	color: #FFF000;
}

.buttonset a.negative, button.negative {
	color: #D12F19;
}

.buttonset a.negative:hover, button.negative:hover {
	background: #FBE3E4;
	border: 1px solid #FBC2C4;
	color: #D12F19;
}

.buttonset a.negative:active {
	background-color: #D12F19;
	border:1px solid  #D12F19;
	color: #FFF000;
}

/*
 * Drop line menu inspired by http://www.cssplay.co.uk/menus/pro_dropline.html
 * Developed in clean room by GoldenKevin
 */
ul.droplinemenu {
	list-style-type: none;
	padding: 0;
	text-align: center;
	width: 100%;
	margin-bottom: 0;
}

ul.droplinemenu li {
	display: inline;
}

ul.droplinemenu li a {
	margin: 0;
	padding: 5px;
}

ul.droplinemenu li a, ul.droplinemenu li ul li a {
	text-decoration: none;
	color: black;
	font-style: normal;
}

ul.droplinemenu li:hover ul, ul.droplinemenu li ul:hover {
	z-index: 2;
}

ul.droplinemenu li ul, div.droplinemenuspacer {
	position: absolute;
	z-index: 0;
	margin: 4px 0 0 0;
	padding: 10px 0;
	width: 800px;
}

div.droplinemenuspacer {
	text-align: center;
	background: gray;
	position: relative;
}

ul.droplinemenu li ul li {
	margin: 0;
	padding: 5px 10px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

ul.droplinemenu li ul li.spacer {
	border-style: none;
}

ul.droplinemenu li#a a, ul.droplinemenu li#a ul {
	background: #6BC1E7;
}

ul.droplinemenu li#b a, ul.droplinemenu li#b ul {
	background: #5EBBE3;
}

ul.droplinemenu li#c a, ul.droplinemenu li#c ul {
	background: #44B0DF;
}

ul.droplinemenu li#d a, ul.droplinemenu li#d ul {
	background: #239BCF;
}

ul.droplinemenu li.current a {
	font-style: italic;
	font-weight: bold;
}

ul.droplinemenu li.current ul li a {
	font-style: normal;
	font-weight: normal;
}

ul.droplinemenu li.current ul, ul.droplinemenu li.default ul {
	z-index: 1;
}

ul.droplinemenu li.default ul li.current a {
	font-style: italic;
	font-weight: bold;
}